.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* add widths so that you will always have three in a row */
  min-width: 1056px; /* extra 6px to cater for border */
  max-width: 1056px;
  width: 1056px;
}

.app{
  background-color: greenyellow;
  min-width: 1456px; /* extra 6px to cater for border */
  max-width: auto;
}
